body{
    background-color:dimgray;
    font-size: 18px;
    color: white;
    padding: 0px;
    margin: 0px;
}

div{
    background-color: slategray;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    margin: 5px;
}

.params{
    background-color:linen;
    color:darkslategrey;
}
.pri-component{
    background-color: darksalmon;
    color: royalblue;
}